<div>
  <app-header></app-header>
  <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
  <ng-template #isOffline>
    <div>
      <p class="offline-error" i18n="@@offlineMessage">Without connection we can not load anything!</p>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>

<!-- <div>
  <app-header></app-header>
  <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
  <ng-template #isOffline>
    <div>
      <p class="offline-error" i18n="@@offlineMessage">Without connection we can not load anything!</p>
    </div>
  </ng-template>
</div>
<app-footer></app-footer> -->

